body {
	margin: 0;
padding: 0;
font-family: Arial;
background-color: #eee;
}
a,a:focus,a:active,a:visited,a:link {
	text-decoration: none;
	color: #000;
}
#B {
width:100%;
height: 75px;
background-color: #ef9100;
margin: 0;
padding: 0;
}
#B ul {
	list-style: none;
	margin: 0;
padding: 0;
float: left;
transform: translate(-50%,-50%);
position: relative;
top: 50%;
left: 50%;
}
#B ul li {
	float: left;
	padding: 15px 30px;
	color: #000;
}
#B ul li a {
	display: inline-block;
}
#B ul li:hover {
	background-color: white;
}
#B ul li:active {
	background-color: white;
	padding:10px 25px;
	border:solid black;
	border-width: 5px 5px;
}
footer {
	margin-top: calc( 300px + 8.534743202%);
	color: #000;
	padding-top: 21px;
	padding-bottom: 21px;
	width: 100%;
	background-color: #df8100;
	text-align: center;
}
#Img {
	background-color: #fff;
	width:91.623424759%;
	height: auto;
	margin: 4.18828762%;
}
#Img img {
	width: 97.572815534%;
	margin: 1.111934766%;
}
#H {
    background-color: #fff;
	width: 91.623424759%;
	height: auto;
	margin: 4.18828762046%;
	margin-top: 0;
	text-align: center;
}
#H h1 {
	text-align: center;
	position: relative;
	padding-top: 40px;
	font-size: 6vh;
}
#H p {
	padding: 70px 40px;
	padding-top: 30px;
	font-size: 4vh;
}
#Pic {
	margin: 4.18828762046%;
	position: relative;
	display: block;
	background-color: #fff;
	width: 91.623424759%;
	height: auto;
}
#Pic h1 {
	white-space: nowrap;
	position: absolute;
	top: 11%;
	left: 57%;
	font-size: 6vw;
}
#Pic img {
	position: relative;
	margin: 0.80906148867%;
	width: 35%;
	height: auto;
}
#P {
	margin: 4.18828762%;
	height: 350px;
}
#F {
	margin: 0% 4.18828762%;
	position: absolute;
   height: 300px;
   width: 91.623424759%;
   background-color: #fff;
}
#L {
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
text-align: center;
}
#L input {
	border:2px solid #999;
	text-align: center;
	margin: 2px 0px;
	width: 100%;
}
#L input[type = "submit"] {
	width: 50%;
}
#F p {
	display: inline;
}
#Y {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 20px;
	left: 50%;
	font-size: 2em;
}
#M {
	position: absolute;
	top : 75px;
	margin: 56.5px;
	width: 1236px;
	height: 708.4px;
	background-color: #fff;
}
#M p {
	position: absolute;
	transform: translate(-50%,-50%);
	font-size: 2.149740548554485vw;
	left: 50%;
	top: 50px;
}
table, td {
	text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
table {
	width:70%;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 47%;
	left:50%;
}
#M #n {
	left: 75%;
	top: 13%;
}
#M #g {
	left: 25%;
	top: 8%;
}
#M #c {
	left: 25%;
	top: 17%;
}
#M #u {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 70%;
}
#M #f {
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 85%;
}
#M #f input {
	border:1px solid black;
}
#M #pc {
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 15%;
	font-size: 1.704966641957005vw;
}
